# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# moonbit 
target/
.mooncakes/
.DS_Store

# Logs
logs

# npm 
node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.moonagent
_build

_build/
target
